h1{font-family: 'VT323', monospace; }
body{font-family: 'VT323', monospace;
    background-color: #ffe5fa;}
.navbar{
list-style: none;
background-color: white;
overflow: hidden;


}
.navbar li{
    float: left;
    background-color: white;
    overflow: hidden;
}
.navbar li a{
    text-decoration: none;
    color: #eaaadd;
    display: inline-block;
    padding: 10px
}
.navbar li a:hover{
    background-color: pink;
    color: violet;
}
#last{
    float: right;
}
header {background-image: url(malpka.png);
    background-size: cover;
    background-position: center;

}
#content {
    background-color: #FFFFFF;
    height: 100%;
    margin-bottom: 70px;
}
footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;
   }
a {
    color: #F42CBA;
    font-weight: bold;
}
a:hover {
    color: #262626;
}
a:visited {
color: #B15D99;
}
hr {
border-top: 3px solid #E06DC4;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h3 {
  text-align: center;
}
.tabela {
  background-color: #FFF9FE;
}
#bannerimage {
  width: 100%;
  background-image: url(header.png);
  height: 100px;
  background-color: purple;
  background-position: center;
}
.gallery {
  margin: 10px 50px;

}
.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;

}
.gallery img:hover {
  filter: grayscale(50%);
  transform:scale(1.3);
}